h2.title-hover {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100%;
    font-size: 50px;
    color: white;
}


.fancybox-nav {
width: 10% !important;
}
#blog-container {
}

text-align:left;
}
.dev1 {
	display:none;

}

.hide {
	display:none;
	
	
}
.sm-portfolio img.floatleft {
float: left;
margin: 2px 0px 10px 0px;
padding-right: 20px;
}

#blablabla { 

}

.container {

}

/** post styles */
#slide-8 {
    background-color: #16a79d;


}
#slide-8 .title-row {
    color: white;
}
#slide-8 .row:not(.title-row) {

    text-align:left;
}
#slide-8 .meta {


}

#slide-8 .item {
    border-top: 1px solid silver;

}
#slide-8 .title {
    font-size: 32px;
}
.summary-box .title {
    font-size: 32px;
}
.post-title h3 {
    font-size: 30px;
    line-height: 30px;
}

.post-title h3 a {
    color: #616161;
}

.post-title h3 a:hover {
    color: #414141;
    text-decoration: none;
}

.post-metadata p {
    font-size: 11px;
    padding-bottom: 0px;

}

.post-metadata {
    border-top: 1px dashed #d1d1d1;
    border-bottom: 1px dashed #d1d1d1;
    padding: 4px 0;
    margin-bottom: 15px;
}

.post-content img {
    margin-bottom: 10px;
    border: 1px solid #d1d1d1;
    padding: 4px;
}

.post-content {
    clear: both;
    margin-bottom: 30px;
}

.alignleft { float: left; margin-right: 15px; }

.alignright { float: right; margin-left: 15px; }

/** posts slider */
.slider {
width: 100%;
clear: both;
}

.summary-box {
    cursor: pointer;
    overflow: hidden;
    color: white;
//    line-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    /* position: relative; */
    /* clear: both; */
    width: 300px;
    padding: 0 0 0 10px;
    margin: 10px 20px 10px 20px;
    height: 300px;
    border: 1px solid black;
    font-size: 14px;


}


#slide-2 {

background-color: #16a79d;

}

#slide-4 {

background-color: #cf4858;
}

#slide-5 {

background-color: #4f8598;;
}

#slide-6 {

background-color: #43454f;
}


.paralink {
text-decoration: underline;
color: white;


}

.paralink:hover  {
color: silver;




}


img.circle {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  height: 200px;
}

#lates-app {

}
.attr {
color: #bbb;

}
.footer {
	background-color: #1f1f1f;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	padding-top: 5px;
	text-align: center;
}
.footer .container {
padding-bottom: 5px !important;

}

/** overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 10000;
}

#devtools-container {

    background: gray;
    opacity: 1;
    padding: 100px;
    text-align: left;
    font-size: 50px;
    color: white;


}

#devtools-container h2 {
    font-size: 70px;

}


